/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Asterisk wildcard selector to override default style by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Favicon */
link[rel*="icon"] {
    filter: invert(100%);
    width: 16px;
    height: 16px;
}

/* Video */
.embed-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    border: 0;
}
/*contact page headings*/
#contact {
  justify-content: center;

}

#contact h2 {
  padding: 3px 3px 3px 3px;
  display: flex;
  justify-content: center;
  background-color: #05386f;
  width: 58%;
  margin-left: 21%;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 12px;
  text-align: center;
}

#contact h3 {
  padding: 3px 3px 3px 3px;
  display: flex;
  justify-content: center;
  width: 74%;
  margin-left: 13%;
  border: 2px solid #05386f;
  margin-top: 20px;
  border-radius: 12px;
  text-align: center;
}

/*contact form*/
.contact-form {
  display: flex;
  flex-direction: column;

}

.contact-form-container {
  max-width: 900px;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 25px;
  padding: 0 20px 20px 20px;
  box-shadow: 10px 10px 10px #379683;
  background-color: #edf5e1;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

}

.contact-form label {
  margin-top: 10px;
  font-weight: bold;
}

.contact-form input,
textarea {
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #05386f;
  border-radius: 8px;
}

.contact-form button {
  background-color: #5cdb95;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #8ee4af;
}
/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color: #3a3a 3a;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {

    font-family: 'Lato', sans-serif;
    /* Make header uppercase und change the color*/
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    font-weight: 700;
}

/*Header*/
header {
    background-color: #fff;

    /* Make header fixed and change background color*/
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}

/* Search Icon*/
.search-container {
    display: inline-block;
    position: relative;
}

.search-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url('search-icon.png') no-repeat center center;
}

.search-input {
    padding: 5px 5px 5px 25px;
    border: 1px solid #ccc;
}

/*User and globe icon*/
/* Apply a basic style to the user-icon container */
.user-icon,
.globe-icon {
    position: relative;
    display: inline-block;
}

/* Style the link inside the user-icon */
.user-icon,
.globe-icon a {
    text-decoration: none;
    color: #333;
    /* Set your desired text color */
    font-size: 20px;
    /* Set your desired font size */
}

/* Style the user and globe-icon on hover */
.user-icon:hover {
    background-color: #f0f0f0;
    /* Set your desired background color on hover */
}

.globe-icon:hover {
    background-color: #f0f0f0;
}

/* Style the drop-down container */
.drop-down {
    position: absolute;
    top: 100%;
    right: 4px;
    display: none;
    /* Hide the drop-down by default */
    background-color: #fff;
    /* Set your desired background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow */
    z-index: 1;
}

/* Style the log-in and register links inside the drop-down */
.drop-down a {
    display: block;
    padding: 10px;
    color: #333;
    /* Set your desired text color */
    text-decoration: none;
}

/* Style the links on hover */
.drop-down a:hover {
    background-color: #f0f0f0;
    /* Set your desired background color on hover */
}

/* Show the drop-down when hovering over the user-icon */
.user-icon:hover .drop-down {
    display: block;
}

/* Show the drop-down when hovering over the user-icon */
.globe-icon:hover .drop-down {
    display: block;
}

/*Add logo to header and apply oswald font"*/

#menu {
    /* Style the navbar menu   */

    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar style with dropdown */
nav {
    position: absolute;

    /* style the navbar dropdown menu and set to hidden*/
    background-color: #fff;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

/* Add menu dropdown function*/
#nav-toggle {
    display: none;
}

.nab-toggle-label {
    font-size: 2rem;
}

#cover-text {
    /* final rgba sets the opacity so is semi-center center/cover*/
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 3px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;

}

#cover-text>h2,
#cover-text>h3 {
    color: #fff;
}

/*Make main element up any surplus space footer sown*/
main {
    margin-top: 49px;
}

/*store*/
#cover-text {
    width: 300px;
    right: 50px;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-imag2.jpeg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(241, 109, 107, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

/* Reasons section */
#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#benefits-physical>div,
#benefits-mental>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url("../images/PA-image.png") no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;


    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Gallery page */
#photos img {
    height: 300px;
    width: 400px;

    line-height: 1em;
}

#photos {
    line-height: 0;
}


/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* Hero */
    #cover-text {
        width: 300px;
        right: 50px;
    }

    /* Reasons section */
    #benefits-physical,
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits-physical>div,
    #benefits-mental>div {
        width: 75%;
    }

    #benefits-mental>div {
        text-align: end;
        align-self: flex-end;
    }

    /* Gallery */
    #photos {
        column-count: 3;
    }

    /*Sign Up Form */

    .form-section {
        clear: left;
        background: url("../images/PA-image1.png");
        background-size: cover;
        background-position: center;
        height: 900px;
    }

    /* Large devices (laptops and desktops, 992px and up) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }

        /* Gallery */
        #photos {
            column-count: 4;
        }
    }

    @media screen and (min-width: 1200px) {

        /* Reasons section */
        #benefits {
            display: flex;
            flex-direction: row;
        }

        #benefits>div {
            flex: 1;
        }

        #benefits-image {
            order: 0;
        }

        #benefits-mental {
            order: 1;
        }

        #benefits-mental>div {
            align-self: flex-start;
        }

        #benefits-physical>div {
            align-self: flex-end;
        }
    }