/* Google fonts import */


/*Asterisk 

wildcard selector to override default style by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color: #3a3a3a;
}

h1,
h2,
h3 {

    font-family: 'IBM Plex Sans',
        sans-serif;
    /* Make header uppercase und change the color*/
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/*Header*/
header {
    background-color: #fff;

    /* Make header fixed and change background color*/
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

/*Add logo to header and apply oswald font"*/


#menu {
    /* Style the navbar menu   */

    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar style with dropdown */
nav {
    position: absolute;

    /* style the navbar dropdown menu and set to hidden*/
    background-color: #fff;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

/* Add menu dropdown function*/
#nav-toggle {
    display: none;
}

.nab-toggle-label {
    font-size: 2rem;
}

/*Store section*/
#hero {
    height: 600px;
    width: 100%;
    /* Add store image*/
    background: url(../images/pexels-photo.webp) no-repeat center/cover;
}

#cover-text {
    /* final rgba sets the opacity so is semi-center center/cover*/
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 3px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;

}

#cover-text>h2,
#cover-text>h3 {
    color: #fff;
}

main {
    /*Make main element up any surplus space footer sown*/

    margin-top: 49px;
}

/*store*/
#cover-text {
    width: 300px;
    right: 50px;
}

/* Style Footer icons for all screen size*/

footer #social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* Style Footer icons for all screen size*/
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablets and larger (768px)*/
@media (min-width: 768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    /*Display navbar items, hige toggle label*/
}

#menu {
    display: flex;
}

#menu>li {
    padding-left: 1rem;
}

.nab-toggle-label {
    display: none;
}

/*Make logo larger, push main down to show under lager header*/

#logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
}

/*Main content*/
main {
    margin-top: 79px;
}

/*large devices(laptops and desktops, 992px and up and add hover effect on large screens*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

#
/*nachdem schreiben wir ein commit*/
/* git commit -m "Add Stylesheet with starter style"*/

/*
Wir schreiben in Terminal:
git add .
git commit -m "push footer sown" 

*/